################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArbolitoU/obj
/.vs
/ArbolitoU/bin/Debug/net8.0
